.Nosotros {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-blue);
}

.Nosotros__main {
  padding: 100px 0 0 0;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(min(300px, 350px), 1fr));
  place-content: center;
}

.Nosotros__main__descriptions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.Nosotros__main__descriptions__title {
  font-size: var(--text-4xl);
}

.Nosotros__main__img {
  width: 90%;
}