.modalOverlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}


.modal {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: start;
  position: relative;
  background-color: var(--color-white);
  width: 90%;
  height: 70%;
  border-radius: 10px;
  padding: 10px;
}

.modal__icon {
  position: absolute;
  z-index: 100;
  right: 10px;
  top: 10px;
  font-size: var(--text-2xl);
  cursor: pointer;
}