.Inicio {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-grey);
  margin-top: 20px;
}

.inicio__main {
  max-width: var(--w-screen-md);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
  height: 100%;
  margin: 100px auto;
  background-color: var(--color-bg-grey);
  padding: 20px;
  place-content: center;
  grid-template-rows: repeat(auto-fit, minmax(300px, 350px));
}