.header,
.header__nav,
.header__nav__list,
.header__nav__list--container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  list-style: none;
  height: 36px;
  color: var(--color-white);
  padding: 5px 0;
}

.header {
  position: absolute;
  top: 0;
  background-color: var(--color-black);
}