/* Puedes dejar tu estilo existente y ajustar según sea necesario para que se integre bien con Bootstrap */

:root {
  --color-bg-grey: #dd0808;
  --color-bg-black: #000000;
  --color-black: #000000;
  --color-white: #ffffff;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header_img_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header_btn_container {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px;
}

.header_btn_container a {
  text-decoration: none; /* Elimina el subrayado de los enlaces dentro del contenedor */
  margin-left: 20px; /* Espacio fijo entre elementos */
  color: black;
  font-size: 20px;
  padding: 10px;
}

.header_btn_container a:hover {
  background-color: var(--color-bg-black);
  color: var(--color-white);
}

.header__logo {
  width: 25%;
}

.nav-item {
  font-size: 20px;
  padding: 0px 20px;
}

.form-control {
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 5px
}

.header_nav_list_icon {
  cursor: pointer;
}

.nav-link {
  color: var(--color-white);
  height: 100%;
}

.nav-link:hover {
  background-color: var(--color-bg-grey);
  color: var(--color-black);
}