.form {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  place-content: center;
  gap: 25px;
}

.form--container-inputs {
  height: 100%;
}

.form--container__img img {
  width: 100%;
  width: 100%;
}

.form--container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.form--container__input {
  margin-top: 10px;
  height: 2em;
  width: 100%;
  outline: none;
  padding: 1px 2px;
}