.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.form--containerPrime {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form--container {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.form--container__subtitle {
  color: var(--bg-color-blue);
  text-align: left;
}

.form__title,
.form__subtitle {
  color: var(--color-black);
}

.form__title {
  font-size: var(--text-4xl);
  font-weight: normal;
}

.form__subtitle {
  font-weight: lighter;
  font-size: var(--text-lg);
  margin: 0 25px 0 0;
}

.form--container__input,
.form__button {
  margin: 10px 0;
  height: 3em;
  width: 100%;
  outline: none;
  padding: 1px 2px;
}

.form__button {
  background-color: var(--bg-color-blue);
  color: var(--color-white);
  border: none;
  outline: none;
  cursor: pointer;
}

.form__button:hover {
  color: var(--color-black);
  background-color: #42592A;
}