* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

:root {
  /*COLORES
  COLOR: PA USARLO PA LO QUE SE QUIERA
  BG: PRESENTE EN EL BACKGROUND EN MAYORÍA
  TEXT UNICAMENTE PAL TEXTO
  */
  --color-white: #fff;
  --color-black: #000;
  --color-bg-grey: #f0f2f5;
  --color-bg-darkGrey: #A6A6A6;
  --color-bg-blue: #20638C;
  --color-bg-green: #A3BF8F;
  --color-bg-yellow: #D9B07E;
  --color-bgButton-yellow: #F2A20C;
  --color-bgButton-purple: #8F1884;
  /*
  TEXTOS
  SM: SMALL, LETRA PEQUEÑA
  BASE: LA BASE (16PX)
  LG: LARGE, GRANDE
  XL: EXTRA LARGE, EXTRA GRANDE (CON SUS RESPECTIVOS MULTIPLOS, X2, X4, ETC)
  */
  --text-sm: 0.75rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  /*
  max-Width screen
  */
  --w-screen-sm: 640px;
  --w-screen-md: 768px;
  --w-screen-lg: 1024px;
  --w-screen-xl: 1280px;
  --w-screen-2xl: 1536px;
}